*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
#nav{
    display: flex;
    justify-content: space-evenly;
    line-height: 3.5rem;
    height: 3.5rem;
    /* background-color: rgb(32, 32, 41); */
    background-image: -webkit-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 5s cubic-bezier(0.22, 0.6, 1, 1) infinite;
    color: aliceblue;
    list-style: none;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1{
    text-align: center;
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
    color: rgb(5, 68, 68);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-decoration-color:rgb(5, 68, 68) ;
}
#About {
    text-decoration: underline;
    margin-left: 5rem;
    font-size: x-large;
}
h3{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    color: rgb(4, 44, 44);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-decoration-color:rgb(5, 68, 68) ;
    margin-left: 5rem;
    font-size: x-large;
}
#About-me{
    margin-left: 5rem;
    display: flex;
    margin-right: 3rem;
    padding: 2rem;
   
}
#about-me { flex: 1;
     margin-right: 2rem;  }

@media (max-width:450px){
    #about_me p{
        font-size: smaller;
        word-spacing: normal;
    }
}
#skill{
    margin-top: 0.2rem;
}
#nav a{
    color: aliceblue;
}
#nav a:hover{
    cursor: pointer;
    color: rgb(219, 28, 28);
}
p{
    word-spacing: 1.5px;
    font-size:larger;
    line-height: 1.6;
 text-align: justify;
    
}
#Skills-img{
    display: flex;
    line-height: 2rem;
    list-style: none;
    justify-content: space-evenly;
    font-size: x-large;
    font-weight: 200;
    /* height: 110px; */
    
   
}
@media (max-width: 700px) { 
    #Skills-img{ flex-wrap: wrap; } 
   .SkillDesign { 
    margin-left: 120px;
    flex-basis: 50%;
    height: 35px;
    margin-right: 50px;
     text-align: center; 
    } }
img{
    width: 160px;
    height: 150px;
    border-radius: 45%;
    object-fit: cover;
   
}
#footer{
    display: flex;
    bottom: 0;
    background-color: rgb(32, 32, 41);
    height: 3.0rem;
    line-height: 3.0rem;
    color: white;
    text-align: center;
    justify-content: center;

}
#contact{
    margin-left: 5rem;
    margin-top: 0.3rem;
}
#contact p{
    margin-left: 2rem;
}
#head{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
   

}
/* #headPara{
    color: black;
    animation: typing 10s steps(40, end), blink-caret 0.75s step-end infinite;
   

}
@keyframes typing { from { width: 0 } to { width: 100% }};
@keyframes blink-caret { from, to { color: black } 50% { color: rgb(37, 44, 150) } } */


#headPara {
    font-family: monospace;
  
    
    color: black; /* Initial text color */
    animation: typing 10s steps(40, end) ;

}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.SkillDesign{
  
    border: 2px solid rgb(160, 70, 70);
    
    border-radius: 2px;
    width: 150px;
    /* height: 150px; */
    text-align: center;

}


#textSaad{
    text-decoration: none;
}